* {
  /*remove all margins and paddings that are not declared*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: Calibri;*/
	font-family: 'Hammersmith One', sans-serif;
}



#img-logo{
	/* display: inline-block; */
    max-height: 50px;
    /* width: auto; */
}
#landing-jumbo {
	height: 100vh;
	display: flex;
	background-image: url("https://cdn.pixabay.com/photo/2017/09/06/13/18/mosaic-2721425_1280.jpg");
	background-repeat: no-repeat;
	align-items: center;
	background-size: cover;
	/*margin-bottom: -10px;*/

	/*color: black;*/

}

.reg-body{
	height: 100vh;
	background-image: url("https://cdn.pixabay.com/photo/2017/09/06/13/18/mosaic-2721425_1280.jpg");
	background-repeat: no-repeat;
	align-items: center;
	background-size: cover;
}
#register-section{

	background-image: url("../images/register-image.png");
	opacity:0.30;
/*	width: 400px;
	height: 400px;
*/	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	height: 100vh;
}

#login-sec{

	background-image: url("../images/login-image.png");
	opacity:0.30;
/*	width: 400px;
	height: 400px;
*/	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	height: 100vh;
}

#header-section{

	background-image: url("https://cdn.pixabay.com/photo/2017/09/06/13/18/mosaic-2721425_1280.jpg");
	background-repeat: no-repeat;
	align-items: center;
	background-size: cover;

}

#login-section{
	height: 100vh;
	background-image: url("https://cdn.pixabay.com/photo/2017/09/06/13/18/mosaic-2721425_1280.jpg");
	background-repeat: no-repeat;
	align-items: center;
	background-size: cover;
}
	
/*start*/

.regcard{
			background: #4b4c49;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

}
.user_card {


			background: #4b4c49;

			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;
		

		}
		.form_container {
			margin-top: 70px;*/
		}
		/*.login_btn {
			width: 100%;
			background: #bff48c !important;
			color: white !important;
		}*/
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
			opacity: 1.0;
		}
		.input-group-text {
			background: #8fc35c !important;
			color: black !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;

		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		.reg-form{
			padding: 40px;
		}
		.login_form{
			padding: 40px;
			margin-top: 70px;


		}
		.form-log{
			margin-top: 50px;
		}
		/*icon*/

.sketchy {
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #ffffff;
    position: relative;
    
    &::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
}

